In [2]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dates = pd.date_range('20200101',periods=6)
df = pd.DaraFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

AttributeError: module 'pandas' has no attribute 'DaraFrame'

In [4]:
dates

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
dates = pd.date_range('20200101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2020-01-01 -0.406939 -0.633204  1.831332  0.068517
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735
2020-01-03  1.143612  0.309016 -1.009900 -0.250137
2020-01-04  1.556303  2.158337 -0.159173 -0.681331
2020-01-05  0.143065 -0.249347 -0.317188  0.593110
2020-01-06  1.140218 -1.397030  1.846426 -0.560178

In [6]:
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
df1

                   A         B         C         D   E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517 NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735 NaN
2020-01-03  1.143612  0.309016 -1.009900 -0.250137 NaN
2020-01-04  1.556303  2.158337 -0.159173 -0.681331 NaN

In [7]:
df1.loc[dates[1:3],'E'] = 2
df1

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  NaN

In [8]:
df1.dropna()

                   A         B         C         D    E
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0

In [9]:
df1

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  NaN

In [10]:
df1.fillna(0)

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  0.0
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  0.0

In [11]:
df1

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  NaN

In [12]:
df1.fillna.values = 5

AttributeError: 'method' object has no attribute 'values'

In [13]:
df1.fillna.value = 5

AttributeError: 'method' object has no attribute 'value'

In [14]:
df1.fillna(value = 5)

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  5.0
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  5.0

In [15]:
df1

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  NaN

In [16]:
pd.isnull(df1)

                A      B      C      D      E
2020-01-01  False  False  False  False   True
2020-01-02  False  False  False  False  False
2020-01-03  False  False  False  False  False
2020-01-04  False  False  False  False   True

In [17]:
pd.isnull(df1).any

<bound method DataFrame.any of                 A      B      C      D      E
2020-01-01  False  False  False  False   True
2020-01-02  False  False  False  False  False
2020-01-03  False  False  False  False  False
2020-01-04  False  False  False  False   True>

In [18]:
pd.isnull(df1).any()

A    False
B    False
C    False
D    False
E     True
dtype: bool

In [19]:
df1.mean

<bound method DataFrame.mean of                    A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.877927 -0.174757 -0.097004 -0.767735  2.0
2020-01-03  1.143612  0.309016 -1.009900 -0.250137  2.0
2020-01-04  1.556303  2.158337 -0.159173 -0.681331  NaN>

In [20]:
df1.mean()

A    0.792725
B    0.414848
C    0.141314
D   -0.407671
E    2.000000
dtype: float64

In [21]:
a = pd.Series([1,3,5,np.NaN,6,8],index=dates).shift(2)
a

2020-01-01    NaN
2020-01-02    NaN
2020-01-03    1.0
2020-01-04    3.0
2020-01-05    5.0
2020-01-06    NaN
Freq: D, dtype: float64

In [22]:
df1.sub(a,axis='index')

                   A         B         C         D    E
2020-01-01       NaN       NaN       NaN       NaN  NaN
2020-01-02       NaN       NaN       NaN       NaN  NaN
2020-01-03  0.143612 -0.690984 -2.009900 -1.250137  1.0
2020-01-04 -1.443697 -0.841663 -3.159173 -3.681331  NaN
2020-01-05       NaN       NaN       NaN       NaN  NaN
2020-01-06       NaN       NaN       NaN       NaN  NaN

In [23]:
df1.apply(np.cumsum)

                   A         B         C         D    E
2020-01-01 -0.406939 -0.633204  1.831332  0.068517  NaN
2020-01-02  0.470987 -0.807960  1.734329 -0.699218  2.0
2020-01-03  1.614599 -0.498944  0.724429 -0.949354  4.0
2020-01-04  3.170902  1.659392  0.565256 -1.630686  NaN

In [24]:
df1.groupby('A')

In [25]:
df2 = df1.groupby('A')
df2

In [26]:
df2 = df1.groupby('A').sum()
df2

                  B         C         D    E
A
-0.406939 -0.633204  1.831332  0.068517  0.0
 0.877927 -0.174757 -0.097004 -0.767735  2.0
 1.143612  0.309016 -1.009900 -0.250137  2.0
 1.556303  2.158337 -0.159173 -0.681331  0.0

In [27]:
df2 = df1.groupby('E').sum()
df2

            A         B         C         D
E
2.0  2.021538  0.134259 -1.106903 -1.017871

In [29]:
%hist

%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
dates = pd.date_range('20200101',periods=6)
df = pd.DaraFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df
dates
dates = pd.date_range('20200101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df
df1 = df.reindex(index=dates[0:4],columns=list(df.columns) + ['E'])
df1
df1.loc[dates[1:3],'E'] = 2
df1
df1.dropna()
df1
df1.fillna(0)
df1
df1.fillna.values = 5
df1.fillna.value = 5
df1.fillna(value = 5)
df1
pd.isnull(df1)
pd.isnull(df1).any
pd.isnull(df1).any()
df1.mean
df1.mean()
a = pd.Series([1,3,5,np.NaN,6,8],index=dates).shift(2)
a
df1.sub(a,axis='index')
df1.apply(np.cumsum)
df1.groupby('A')
df2 = df1.groupby('A')
df2
df2 = df1.groupby('A').sum()
df2
df2 = df1.groupby('E').sum()
df2
from matplotlib.plot import plot as plt
%hist

In [30]:
%pwd

'/home/flack/ipython_notebook'